@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
        url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
        url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color272733: #272733;
    --colorffffff: #ffffff;
    --color10101D: #10101ee5;
    --color43ABF0: #43ABF0;
    --color3E9CDC: #3E9CDC;
    --color000000: #000000;
    --color6F6D7B: #6F6D7B;
    --color2A2B30: #2A2B30;
    --color286690: #286690;
    --colorDFDFE1: #DFDFE1;
    --color3D4050: #3D4050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--color272733);
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: var(--color272733);
    cursor: pointer;
}

ul {
    list-style: none;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}

.btn {
    padding: 14px 30px;
    font-size: 13px;
    font-weight: 400;
    color: var(--colorffffff);
    background-color: var(--color3E9CDC);
    border-radius: 4px;
    border: 1px solid var(--colorffffff);
    text-transform: uppercase;
    min-width: 183px;
    transition: all 0.2s ease-in-out;
}

.menu {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.menu span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 40px;
    height: 2px;
    background-color: var(--colorffffff);
    transition: all 0.3s ease-in;
}

.menu::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    top: 30px;
    left: 0;
    background-color: var(--colorffffff);
    transition: all 0.3s ease-in;
}

.menu::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    top: 10px;
    left: 0;

    background-color: var(--colorffffff);
    transition: all 0.3s ease-in;
}

.menu.open span {
    transform: scale(0);
}

.menu.open::after {
    top: 50%;
    transform: rotate(-45deg);
}

.menu.open::before {
    top: 50%;
    transform: rotate(45deg);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--color10101D);
    padding: 38px 0;
    z-index: 1000;
}
.scroll-top {
    scroll-margin-top: 100px;
}


.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 247px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 435px;
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header__link {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--colorffffff);
    transition: color 0.2s ease-in;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus-visible {
    color: var(--color43ABF0);
}

.main__business {
    background-image: url('../images/bgdesktop.webp');
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 203px 0 340px;
}

.business__block {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.business__title {
    font-size: 48px;
    line-height: 120%;
    font-weight: 700;
    color: var(--color000000);
    text-transform: uppercase;
    margin-bottom: 36px;
}

.business__title span {
    color: var(--color3E9CDC);
}

.business__descr {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.business__list {
    display: flex;
    flex-direction: column;
    list-style-type: "- ";
    padding-left: 18px;
    margin-bottom: 80px;
}

.business__item h2{
    font-size: 20px;
    font-weight: 400;
    padding-left: 6px;
}

.business__item:not(:last-child) {
    margin-bottom: 5px;
}

.business__actions {
    display: flex;
    align-items: center;
}

.business__btn:first-child {
    margin-right: 30px;
}

.business__btn:first-child:hover,
.business__btn:first-child:focus-visible {
    border-color: var(--color3E9CDC);
    background-color: var(--colorffffff);
    color: var(--color3E9CDC);
}

.business__btn:first-child {
    margin-right: 30px;
}

.business__btn:last-child {
    border-color: var(--color272733);
    background-color: var(--colorffffff);
    color: var(--color2A2B30);
}

.business__btn:last-child:hover,
.business__btn:last-child:focus-visible {
    border-color: var(--colorffffff);
    background-color: var(--color272733);
    color: var(--colorffffff);
}

.main__order {
    background: url('../images/orderbg.webp'), var(--color272733);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 67px 0;
    color: var(--colorffffff);
}

.order__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order__title {
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.order__title span {
    color: var(--color43ABF0);
}

.order__descr {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px;
}

.order__list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;
}
.order__list::after {
    position: absolute;
    content: '';
    width: calc(100% - 120px);
    border-bottom: 10px dotted var(--color6F6D7B);
    height: 10px;
    margin: 0 60px;
    top: 50px;
}
.order__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
    width: 210px;
    padding: 10px;
    z-index: 10;
}

.order__icon {
    min-width: 100px;
    height: 100px;
    border: 5px solid var(--color286690);
    background-color: var(--color3E9CDC);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in;
}

.order__item:hover .order__icon {
    transform: scale(1.1);
}

.order__text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form__inputs,
.form__block-range {
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.order__select,
.order__input {
    width: 100%;
    color: var(--color272733);
    font-size: 18px;
    font-weight: 400;
    padding: 12px 10px;
    border-radius: 4px;
    background-color: var(--colorDFDFE1);
    border: 1px solid var(--colorffffff);
    height: 48px;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.order__input:focus-within,
.order__select:focus-within {
    background-color: var(--colorffffff);
    border: 1px solid var(--color3E9CDC);
}

.order__label {
    width: 100%;
}

.order__input::placeholder {
    color: var(--color272733);
}

.form__range {
    display: block;
    grid-column: 1 / span 2;
}

.form__file {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / span 1;
    position: relative;
    cursor: pointer;
    width: 100%;
    color: var(--color272733);
    font-size: 18px;
    font-weight: 400;
    padding: 12px 10px;
    border-radius: 4px;
    background-color: var(--colorffffff);
    border: 1px solid var(--color3E9CDC);
    height: 48px;
    outline: none;
}

.form__file input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.form__file-icon-wrapper {
    margin-right: 10px;
}

.form__file-button-text {
    text-transform: uppercase;
}

.form__block-range {
    margin-bottom: 52px;
}

.form__label-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.order__range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: var(--colorDFDFE1);
    border: 1px solid var(--colorffffff);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: var(--color6F6D7B);
    border: 1px solid var(--colorffffff);
    border-radius: 4px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background: var(--color3E9CDC);
    border: 4px solid var(--color286690);
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 27px;
    height: 27px;
    background: var(--color3E9CDC);
    border: 4px solid var(--color286690);
    border-radius: 50%;
    cursor: pointer;
}

.order__btn {
    grid-column: 2/span 1;
}

.error {
    border-color: #ff3838;
}

.footer {
    background-color: var(--color3D4050);
    padding: 32px 0;
    color: var(--colorffffff);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-size: 13px;

}

.footer__payment {
    border-left: 1px solid var(--color6F6D7B);
    border-right: 1px solid var(--color6F6D7B);
    padding: 0 40px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer__item:not(:last-child) {
    margin-right: 40px;
}

.footer__link {
    font-size: 13px;
    font-weight: 400;
    color: var(--colorffffff);
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.footer__item svg {
    margin-right: 10px;
}

.footer__item svg path {
    transition: all 0.2s ease-in;
}

.footer__item:hover .footer__link,
.footer__item:focus-visible .footer__link {
    color: var(--color3E9CDC);
}

.footer__item:hover svg path,
.footer__item:focus-visible svg path {
    fill: var(--colorffffff);
    /* stroke: var(--colorffffff); */
}

.footer__item:hover svg.yamoney path:last-child,
.footer__item:focus-visible svg.yamoney path:last-child {
    fill: var(--color3D4050);
}

.footer__item:hover svg.yamoney path:nth-child(2),
.footer__item:focus-visible svg.yamoney path:last-child {
    fill: var(--color3D4050);
}

@media (max-width: 1400px) {
    .main__business {
        padding: 200px 0 140px;
        background-image: linear-gradient(90deg, #ffffffc7, #33333300 100%), url("../images/bgdesktop.webp")
    }
}

@media (max-width: 1120px) {
    .footer__container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 16px;
    }

    .footer__contacts .footer__list {
        justify-content: flex-start;
    }

    .footer__payment {
        padding: 0;
        border: none;
    }

    .footer__item:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 920px) {
    .header__list {
        min-width: unset;
    }

    .order__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .order__item {
        width: 160px;
    }
    .order__list::after {
        content: none;
    }
}

@media (max-width: 768px) {
    .header__list {
        min-width: unset;
    }

    .menu {
        display: block;
    }

    .header__nav {
        position: relative;
    }

    .header__list {
        position: fixed;
        top: 116px;
        width: 100%;
        height: 100vh;
        right: 0;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 100px 40px;
        background-color: var(--color10101D);
        z-index: 1000;
    }

    .header__list.open {
        opacity: 1;
        transform: translateX(0);
    }

    .header__item {
        margin: 0;
        margin-bottom: 40px;
    }

    .header__link {
        display: inline-block;
        font-size: 24px;
    }
    .main__business {
        background-image: linear-gradient(90deg, #ffffffe3, #ffffffa3), url("../images/bgdesktop.webp");
    }

    .business__title {
        font-size: 36px;
    }

    .order__title {
        font-size: 28px;
    }

    .order__descr {
        font-size: 16px;
    }

    .form__file-button-text {
        font-size: 14px;
    }

    .form__inputs {
        grid-template-columns: repeat(2, 1fr);
    }

    .form__block-range {
        grid-template-columns: repeat(2, 1fr);
    }

    .form__file {
        grid-column: 1/ span 1;
        grid-row: 2/ span 1;
    }

    .order__select,
    .order__input {
        font-size: 14px;
    }

    .order__text {
        font-size: 14px;
    }

    .form__label-range {
        font-size: 14px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__list {
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header {
        padding: 20px 0;
        height: 80px;
    }
    .scroll-top {
        scroll-margin-top: 80px;
    }
    
    .header__logo {
        width: 220px;
    }

    .header__logo img {
        width: 100%;
    }

    .header__list {
        top: 80px;
        margin-bottom: 50px;
    }

    .main__business {
        padding: 160px 0 80px;
        background-image: linear-gradient(90deg, #ffffffe3, #ffffffa3), url("../images/bgmob.webp");
    }

    .main__order {
        background: url('../images/orderbg-mobile.webp'), var(--color272733);
    }

    .business__title {
        font-size: 28px;
    }

    .business__actions {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .business__btn {
        width: 100%;
    }
    .business__btn_order {
        margin-bottom: 20px;
    }
    .business__btn:first-child {
        margin-right: 0;
    }
    .order__btn {
        width: 100%;
        grid-column: 1 /span 3;
    }
    .form__inputs {
        grid-template-columns: 1fr;
    }

    .form__block-range {
        display: flex;
        flex-direction: column;
    }

    .business__descr {
        font-size: 16px;
    }

    .business__item h2 {
        font-size: 14px;
    }

    .order__container {
        align-items: flex-start;
    }

    .order__descr {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .order__list {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .order__list::after {
        content: "";
        border-right: 4px dotted var(--color6F6D7B);
        height: calc(100% - 74px);
        border-bottom: unset ;
        width: 4px;
        margin: 0 40px;
    }

    .order__item {
        width: 100%;
        max-width: unset;
        flex-direction: row;
        justify-content: flex-start;
    }

    .order__text {
        text-align: left;
    }

    .order__icon {
        min-width: 74px;
        height: 74px;
        margin: 0 30px 0 0;
    }

    .footer__container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__item {
        margin-bottom: 8px;
    }
}